doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title #{metadata.title} - <%= projectName %>

		link(rel='stylesheet', type='text/css', href='build/build.css')

	body
			h1 Blog post: #{metadata.title} - <%= projectName %>
			p Published at #{metadata.time.epoch} by #{metadata.author}
			div!= text

		script(src='build/build.js')
